<h1>Login</h1>

<%= form_for :user, url: '/sessions' do |f| %>
<% if flash[:danger].present? %>
    <div class="error_messages">
      <h2>Error(s): </h2>
        <ul>
      		<%= flash[:danger] %>
      	</ul>
    </div>
  <% end %>
	<span>Email: </span><br>
	<%= f.text_field :email %><br>
	<span>Password: </span><br>
	<%= f.password_field :password %><br>
	<%= f.submit "Login" %>
<% end %>