Sign Up
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= f.text_field :neighborhood, placeholder: "neighborhood" %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %> 


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Neighborhood
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Soma</a></li>
    <li><a href="#">Mission</a></li>
    <li><a href="#">Tenderloin</a></li>
    <li><a href="#">Sunset</a></li>
  </ul>
</div>