<!-- SIGN UP PAGE -->
<div class="form">
  <h1>Sign Up</h1>
  <div id="signup_form" class="col-sm-offset-4 col-sm-4">
    <%= form_for @user do |f| %>
      <div>
        First Name:<br>
        <%= f.text_field :first_name, placeholder: "First Name", :class => 'form-control' %>
      </div>
      <br>
      <div>
        Last Name:<br>
        <%= f.text_field :last_name, placeholder: "Last Name", :class => 'form-control' %>
      </div>
      <br>
      <div>
        Email:<br>
        <%= f.text_field :email, placeholder: "Email", :class => 'form-control' %>
      </div>
      <br>
      <div>
        Password:<br>
        <%= f.password_field :password, placeholder: "Password", :class => 'form-control' %>
      </div>
      <br>
        <%= f.submit "Sign Up" %>
    <% end %> 
  </div>
</div>
