<!-- PROFILE PAGE -->
<div class="container">
	<div class="row">
		<div id="profile-info" class="col-sm-offset-1 col-sm-3 affix">
			<h1><%= @user[:first_name] %> <%= @user[:last_name] %></h1>
			<img src="http://placehold.it/200x200" alt="profile photo">	
			<p></p> <!-- padding -->
			<p><strong>Home Base: </strong><%= @user.neighborhood %></p>
			<p></p> <!-- padding -->
			<p>Bio</p>
    		<p><strong>Join Date: </strong><small><%= time_ago_in_words(@user.created_at)%> ago</small></p>
    		<%=link_to "Edit profile", edit_user_path, class:"btn btn-primary" %> 
    		<p></p> <!-- padding -->
		</div>
		<div id="profile-data" class="col-sm-offset-5 col-sm-6">
			<h2>Posts</h2>
			<% @user.posts.each do |post| %>
				<h4><%= link_to post.title, post_path(post) %><p class="pull-right"><small><small><small>Comments (x)</small></small></small></p></h4>
				<ul>
					<p class="preview_text"><small>I really want to find a way to take the first xx characters of a post and make a preview of it.</small></p>
				</ul>
				<hr>
			<% end %>
		</div>
	</div>
</div>