<h1 class="form_header">Edit a Post</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <%= form_for @post do |f| %>
            <div>
    	       Title:</br>
        		<%= f.text_field :title, :class => 'form-control' %>
            </div>
            <br>
            <div>
                Body:</br>
                <%= f.text_area :body, :class => 'form-control',:id => 'edit_post_body' %>
            </div>
            <br>
            <div>
                Location:
                <%= f.select :location, [['Castro'],['Chinatown'],['Dogpatch'],['Embarcadero'],['Financial District'],['Haight'],['Hayes Valley'],['Marina'],['Mission'],['Mission Bay'],['Nob Hill'],['Noe Valley'],['North Beach'],['Pacific Heights'],['Potrero Hill'],['Richmond'],['Russian Hill'],['Sunset'],['Tenderloin']], :class => 'form-control'%>
                <span class="pull-right">Tags:
                <%= f.select :tag_list, [['Food'],['News'],['Music'],['Bars'],['Nightlife']], :class => 'form-control'%></span>
            </div>
            <%= f.submit "update", class:"btn btn-primary form-control", :id => 'update_post_btn' %>
        <% end %>
    </div>
  </div>
</div>