
<h1 class="form_header">Make a Post</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
      <div class="error_messages">
        <h2>Error(s): </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div>
        <%= f.text_field :title, placeholder: "Post Title", :class => 'form-control' %>
      </div>
      <div>
        <%= f.text_area :body, placeholder: "Post Body", :class => 'form-control', :id => 'new_post_body' %>
      </div>
      <div>
        <small><strong>Where did this take place?:</strong></small> <%= f.select :location, [['Castro'],['Chinatown'],['Dogpatch'],['Embarcadero'],['Excelsior'],['Financial District'],['Glen Park'],['Haight'],['Hayes Valley'],['Marina'],['Mission'],['Mission Bay'],['Nob Hill'],['Noe Valley'],['North Beach'],['Pacific Heights'],['Potrero Hill'],['Richmond'],['Russian Hill'],['Tenderloin']], {class: "form-control"} %>
        <span class="pull-right"><small><strong>Category:</strong></small> <%= f.select :tag_list, [['Food'],['News'],['Music'],['Bars'],['Nightlife']], :class => 'form-control' %></span>
      </div>
      <%= f.submit "Make Post", :class => 'form-control btn-primary', :id => 'sub_new_post_btn' %>
      <% end %> 
    </div>
  </div>
</div>